/* View Ticket Message */

.modisv-ticket-message
{
    padding: 10px 0;
    overflow: auto;
}

.modisv-ticket-message h5.header
{
    padding: 6px;
    margin-bottom: 15px;
    color: #333;
    background: #ddd;
    font: normal 11px arial;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.modisv-ticket-message h5.header.staff-response
{
    background: #6b6;
}

.modisv-ticket-message h5.header a.num
{
    margin-left: 5px;
}

.modisv-ticket-message h5.header span.info
{
    margin-left: 10px;
}

.modisv-ticket-message h5.header span.actions
{
    float: right
}

.modisv-ticket-message h5.header span.actions a,
.modisv-ticket-message h5.header span.actions a:visited
{
    font-size:10px;
    color: #111;
    margin-right: 5px;
}

.modisv-ticket-message img.avatar
{
    position: absolute;
    margin-left: 3px;
}

.modisv-ticket-message div.content
{
    margin-left: 45px;
    padding-left: 15px;
}

.modisv-ticket-message div.attachments
{
    margin:10px 0 0 350px;
    padding:8px 6px 8px 20px;
    font-size:10px;
    background:#ace;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.modisv-ticket-message div.attachment span
{
    margin-left:10px;
}

.modisv-ticket-message div.attachments a.remove
{
    float:right;
    margin-right:5px;
}

.modisv-ticket-activity
{
    padding: 6px;
    margin: 20px 0;
    padding-left: 30px;
    color: #333;
    background: #ddd;
    font: bold 11px arial;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

